body {
    background-color: darkslategray;
}

h1 {
    color : aquamarine;
    font-size: 26px;
}

header nav li {
    color : rgb(94, 190, 158);
    font-size : 22px;
}

footer nav li {
    color : rgb(94, 190, 158);
    font-size: 12px;
}